/* Google Translate */
.goog-te-banner-frame.skiptranslate,
.goog-te-gadget-simple img,
img.goog-te-gadget-icon,
.goog-te-menu-value span,
#goog-gt-tt,
.goog-tooltip,
.goog-tooltip:hover,
.goog-logo-link,
.goog-te-balloon-frame {
    display: none !important;
}

.goog-text-highlight {
    background-color: transparent !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.goog-te-menu-frame {
    box-shadow: none !important;
}

.goog-te-gadget-simple {
    background-color: transparent !important;
    border: none !important;
    outline: 0 !important;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

#google_translate_element {
    position: absolute !important;
    z-index: 2 !important;
    overflow: hidden !important;
}

#google_translate_element,
.skiptranslate.goog-te-gadget,
.goog-te-gadget-simple {
    width: 40px !important;
    height: 40px !important;
    padding: 0 !important;
    margin: 0 !important;
    border-radius: 50% !important;
}